
@import "./libs/fonts";
@import "./libs/bootstrap-grid.min";
@import "./libs/bootstrap-reboot.min";


@import "./base/variables";
@import "./base/mixins";
@import "./base/media";



* {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}


@import "./blocks/general"